USE [TechHouse IndustryDB]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 26/04/2026 20:00:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CompraItens]    Script Date: 26/04/2026 20:00:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CompraItens](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CompraId] [int] NOT NULL,
	[ProdutoNome] [nvarchar](200) NOT NULL,
	[ProdutoTipo] [nvarchar](100) NOT NULL,
	[Preco] [decimal](10, 2) NOT NULL,
	[Quantidade] [int] NOT NULL,
	[Origem] [nvarchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Compras]    Script Date: 26/04/2026 20:00:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Compras](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UsuarioId] [int] NOT NULL,
	[DataCompra] [datetime] NOT NULL,
	[Status] [nvarchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Produtos]    Script Date: 26/04/2026 20:00:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Produtos](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [varchar](100) NULL,
	[Tipo] [varchar](50) NULL,
	[Preco] [decimal](10, 2) NULL,
	[Socket] [varchar](50) NULL,
	[ConsumoEnergia] [int] NULL,
	[ImagemUrl] [nvarchar](max) NULL,
	[Potencia] [int] NULL,
	[Quantidade] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 26/04/2026 20:00:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Email] [nvarchar](150) NOT NULL,
	[Senha] [nvarchar](100) NOT NULL,
	[IsAdmin] [bit] NOT NULL,
	[Nome] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Vendas]    Script Date: 26/04/2026 20:00:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vendas](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Data] [datetime2](7) NOT NULL,
	[Preco] [decimal](10, 2) NOT NULL,
	[ProdutoNome] [nvarchar](max) NULL,
	[ProdutoTipo] [nvarchar](max) NULL,
	[Quantidade] [int] NOT NULL,
	[Status] [nvarchar](50) NULL,
	[UsuarioId] [int] NOT NULL,
	[CompraId] [int] NULL,
	[Origem] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[CompraItens] ON 

INSERT [dbo].[CompraItens] ([Id], [CompraId], [ProdutoNome], [ProdutoTipo], [Preco], [Quantidade], [Origem]) VALUES (1, 1, N'Intel i7 12700K', N'CPU', CAST(2500.00 AS Decimal(10, 2)), 1, N'Carrinho')
INSERT [dbo].[CompraItens] ([Id], [CompraId], [ProdutoNome], [ProdutoTipo], [Preco], [Quantidade], [Origem]) VALUES (2, 1, N'Intel i5 12400F', N'CPU', CAST(1900.00 AS Decimal(10, 2)), 1, N'Carrinho')
INSERT [dbo].[CompraItens] ([Id], [CompraId], [ProdutoNome], [ProdutoTipo], [Preco], [Quantidade], [Origem]) VALUES (3, 1, N'Ryzen 9 5900X', N'CPU', CAST(2800.00 AS Decimal(10, 2)), 1, N'MontePC')
SET IDENTITY_INSERT [dbo].[CompraItens] OFF
GO
SET IDENTITY_INSERT [dbo].[Compras] ON 

INSERT [dbo].[Compras] ([Id], [UsuarioId], [DataCompra], [Status]) VALUES (1, 3, CAST(N'2026-04-26T19:05:50.187' AS DateTime), N'Ativa')
INSERT [dbo].[Compras] ([Id], [UsuarioId], [DataCompra], [Status]) VALUES (2, 3, CAST(N'2026-04-26T19:06:30.707' AS DateTime), N'Ativa')
INSERT [dbo].[Compras] ([Id], [UsuarioId], [DataCompra], [Status]) VALUES (3, 3, CAST(N'2026-04-26T19:09:15.627' AS DateTime), N'Ativa')
SET IDENTITY_INSERT [dbo].[Compras] OFF
GO
SET IDENTITY_INSERT [dbo].[Produtos] ON 

INSERT [dbo].[Produtos] ([Id], [Nome], [Tipo], [Preco], [Socket], [ConsumoEnergia], [ImagemUrl], [Potencia], [Quantidade]) VALUES (7, N'Ryzen 9 5900X', N'CPU', CAST(2800.00 AS Decimal(10, 2)), N'AM4', 105, N'https://via.placeholder.com/200', NULL, 2)
INSERT [dbo].[Produtos] ([Id], [Nome], [Tipo], [Preco], [Socket], [ConsumoEnergia], [ImagemUrl], [Potencia], [Quantidade]) VALUES (8, N'Intel i5 12400F', N'CPU', CAST(1900.00 AS Decimal(10, 2)), N'LGA1700', 65, N'https://via.placeholder.com/200', NULL, 6)
INSERT [dbo].[Produtos] ([Id], [Nome], [Tipo], [Preco], [Socket], [ConsumoEnergia], [ImagemUrl], [Potencia], [Quantidade]) VALUES (9, N'Intel i7 12700K', N'CPU', CAST(2500.00 AS Decimal(10, 2)), N'LGA1700', 125, N'https://via.placeholder.com/200', NULL, 0)
SET IDENTITY_INSERT [dbo].[Produtos] OFF
GO
SET IDENTITY_INSERT [dbo].[Usuarios] ON 

INSERT [dbo].[Usuarios] ([Id], [Email], [Senha], [IsAdmin], [Nome]) VALUES (1, N'teste@teste.com', N'123456', 0, N'teste@teste.com')
INSERT [dbo].[Usuarios] ([Id], [Email], [Senha], [IsAdmin], [Nome]) VALUES (2, N'batata@gmail.com', N'Fgas@1988', 0, N'batata@gmail.com')
INSERT [dbo].[Usuarios] ([Id], [Email], [Senha], [IsAdmin], [Nome]) VALUES (3, N'admin@gmail.com', N'12345', 1, N'Administrador')
SET IDENTITY_INSERT [dbo].[Usuarios] OFF
GO
SET IDENTITY_INSERT [dbo].[Vendas] ON 

INSERT [dbo].[Vendas] ([Id], [Data], [Preco], [ProdutoNome], [ProdutoTipo], [Quantidade], [Status], [UsuarioId], [CompraId], [Origem]) VALUES (1, CAST(N'2026-04-26T19:05:50.3212838' AS DateTime2), CAST(2500.00 AS Decimal(10, 2)), N'Intel i7 12700K', N'CPU', 1, N'Concluida', 3, 1, N'Carrinho')
INSERT [dbo].[Vendas] ([Id], [Data], [Preco], [ProdutoNome], [ProdutoTipo], [Quantidade], [Status], [UsuarioId], [CompraId], [Origem]) VALUES (2, CAST(N'2026-04-26T19:05:50.3515612' AS DateTime2), CAST(1900.00 AS Decimal(10, 2)), N'Intel i5 12400F', N'CPU', 1, N'Concluida', 3, 1, N'Carrinho')
INSERT [dbo].[Vendas] ([Id], [Data], [Preco], [ProdutoNome], [ProdutoTipo], [Quantidade], [Status], [UsuarioId], [CompraId], [Origem]) VALUES (3, CAST(N'2026-04-26T19:05:50.3544250' AS DateTime2), CAST(2800.00 AS Decimal(10, 2)), N'Ryzen 9 5900X', N'CPU', 1, N'Concluida', 3, 1, N'MontePC')
SET IDENTITY_INSERT [dbo].[Vendas] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Usuarios__A9D105341B48ABA8]    Script Date: 26/04/2026 20:00:11 ******/
ALTER TABLE [dbo].[Usuarios] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Compras] ADD  DEFAULT (getdate()) FOR [DataCompra]
GO
ALTER TABLE [dbo].[Compras] ADD  DEFAULT ('Ativa') FOR [Status]
GO
ALTER TABLE [dbo].[Produtos] ADD  DEFAULT ((0)) FOR [Quantidade]
GO
ALTER TABLE [dbo].[Usuarios] ADD  DEFAULT ((0)) FOR [IsAdmin]
GO
ALTER TABLE [dbo].[CompraItens]  WITH CHECK ADD FOREIGN KEY([CompraId])
REFERENCES [dbo].[Compras] ([Id])
GO
ALTER TABLE [dbo].[Compras]  WITH CHECK ADD FOREIGN KEY([UsuarioId])
REFERENCES [dbo].[Usuarios] ([Id])
GO
